.input-form{
    font-family: FontAwesome;
 
}
.item-columns{
    margin-bottom: 50px;
    border-radius: 10px;
}
.nav-ancor{
    font-weight: 700;
    font-size: 16px;
    
}
.card-body{
    background-color:#F8F7F5 ;
    
}

.tick-icon{
    color: tomato;
}
.infoDiv{
    border-radius: 10px;
    padding: 30px 50px;
    height: 40%;
    box-shadow: 5px 4px 10px #888888;

}
.infoDiv h1,.infoDiv h5,.infoDiv p{
margin: 0px;
}
.info-image{
    overflow: hidden;
    height: 260px;
    width: 100%;
    border-radius: 10px;
    border-radius: 8px;
}

.not-found{
    margin: 10px;

}
